@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 
p, 
a, 
span, 
li, 
button, 
label, 
textarea, 
input{
  font-family: 'Roboto', sans-serif;
}

/* @layer base {
  :root {
    --green: 181, 217, 156;
    --red: 230, 95, 92;
    --yellow: 255, 255, 130;
    --light: 245, 247, 220;
    --dark: 15, 3, 38;
  }
} */