@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 
p, 
a, 
span, 
li, 
button, 
label, 
textarea, 
input{
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}; 

@layer base {
  :root {
    --green: rgb(181, 217, 156);
    --red: rgb(230, 95, 92);
    --yellow: rgb(255, 255, 130);
    --light: rgb(245, 247, 220);
    --dark: rgb(15, 3, 38);
  }
}